<?xml version='1.1' encoding='UTF-8'?>
<jenkins.branch.OrganizationFolder plugin="branch-api@2.1.2">
  <actions/>
  <description>Job to discover Pull request on configured repo</description>
  <displayName>PR Discovery</displayName>
  <properties>
    <org.jenkinsci.plugins.pipeline.maven.MavenConfigFolderOverrideProperty plugin="pipeline-maven@3.6.4">
      <settings class="jenkins.mvn.DefaultSettingsProvider"/>
      <globalSettings class="jenkins.mvn.DefaultGlobalSettingsProvider"/>
      <override>false</override>
    </org.jenkinsci.plugins.pipeline.maven.MavenConfigFolderOverrideProperty>
    <org.jenkinsci.plugins.pipeline.modeldefinition.config.FolderConfig plugin="pipeline-model-definition@1.3.4">
      <dockerLabel></dockerLabel>
      <registry plugin="docker-commons@1.13"/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.config.FolderConfig>
  </properties>
  <folderViews class="jenkins.branch.OrganizationFolderViewHolder">
    <owner reference="../.."/>
  </folderViews>
  <healthMetrics>
    <com.cloudbees.hudson.plugins.folder.health.WorstChildHealthMetric plugin="cloudbees-folder@6.7">
      <nonRecursive>false</nonRecursive>
    </com.cloudbees.hudson.plugins.folder.health.WorstChildHealthMetric>
  </healthMetrics>
  <icon class="jenkins.branch.MetadataActionFolderIcon">
    <owner class="jenkins.branch.OrganizationFolder" reference="../.."/>
  </icon>
  <orphanedItemStrategy class="com.cloudbees.hudson.plugins.folder.computed.DefaultOrphanedItemStrategy" plugin="cloudbees-folder@6.7">
    <pruneDeadBranches>false</pruneDeadBranches>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>-1</numToKeep>
  </orphanedItemStrategy>
  <triggers>
    <com.cloudbees.hudson.plugins.folder.computed.PeriodicFolderTrigger plugin="cloudbees-folder@6.7">
      <spec>H H/4 * * *</spec>
      <interval>43200000</interval>
    </com.cloudbees.hudson.plugins.folder.computed.PeriodicFolderTrigger>
  </triggers>
  <disabled>false</disabled>
  <navigators>
    <org.jenkinsci.plugins.github__branch__source.GitHubSCMNavigator plugin="github-branch-source@2.4.1">
      <repoOwner>SDO-AF</repoOwner>
      <apiUri>https://github.com/benyapiya</apiUri>
      <credentialsId>bp_svc</credentialsId>
      <traits>
        <jenkins.scm.impl.trait.WildcardSCMSourceFilterTrait plugin="scm-api@2.3.0">
          <includes>bp-*</includes>
          <excludes></excludes>
        </jenkins.scm.impl.trait.WildcardSCMSourceFilterTrait>
        <org.jenkinsci.plugins.github__branch__source.ForkPullRequestDiscoveryTrait>
          <strategyId>1</strategyId>
          <trust class="org.jenkinsci.plugins.github_branch_source.ForkPullRequestDiscoveryTrait$TrustPermission"/>
        </org.jenkinsci.plugins.github__branch__source.ForkPullRequestDiscoveryTrait>
        <org.jenkinsci.plugins.github__branch__source.OriginPullRequestDiscoveryTrait>
          <strategyId>1</strategyId>
        </org.jenkinsci.plugins.github__branch__source.OriginPullRequestDiscoveryTrait>
        <jenkins.plugins.git.traits.RefSpecsSCMSourceTrait plugin="git@4.0.0-rc">
          <templates>
            <jenkins.plugins.git.traits.RefSpecsSCMSourceTrait_-RefSpecTemplate>
              <value>+refs/heads/qa:refs/remotes/origin/qa</value>
            </jenkins.plugins.git.traits.RefSpecsSCMSourceTrait_-RefSpecTemplate>
            <jenkins.plugins.git.traits.RefSpecsSCMSourceTrait_-RefSpecTemplate>
              <value>+refs/heads/PR-*:refs/remotes/origin/PR-*</value>
            </jenkins.plugins.git.traits.RefSpecsSCMSourceTrait_-RefSpecTemplate>
          </templates>
        </jenkins.plugins.git.traits.RefSpecsSCMSourceTrait>
      </traits>
    </org.jenkinsci.plugins.github__branch__source.GitHubSCMNavigator>
  </navigators>
  <projectFactories>
    <org.jenkinsci.plugins.workflow.multibranch.WorkflowMultiBranchProjectFactory plugin="workflow-multibranch@2.20">
      <scriptPath>Jenkinsfile</scriptPath>
    </org.jenkinsci.plugins.workflow.multibranch.WorkflowMultiBranchProjectFactory>
  </projectFactories>
  <buildStrategies>
    <jenkins.branch.buildstrategies.basic.ChangeRequestBuildStrategyImpl plugin="basic-branch-build-strategies@1.1.1">
      <ignoreTargetOnlyChanges>true</ignoreTargetOnlyChanges>
    </jenkins.branch.buildstrategies.basic.ChangeRequestBuildStrategyImpl>
  </buildStrategies>
</jenkins.branch.OrganizationFolder>
